.title {
    color: gray;
    font-size: 24px;
    font-family: auto;
    text-align: center;
    margin: 16px 0;
}
.waffle {
    width: 460px;
}

.imageWrapper {
    display: flex;
    justify-content: center;
    img {
        margin: 32px 32px 0px 32px;
        cursor: pointer;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    .dessertDetails {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 24px 0;
    }
    .dessertName {
        font-size: 24px;
        font-weight: bold;
        color: black;
        font-family: auto;
        text-align: center;
    }
}

@media only screen and (max-width : 375px) {
    .title {
        font-size: 24px;
    }
    .imageWrapper {
        display: block;

        .imgDetailWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                height: fit-content;
                width: fit-content;
                display: contents;

                img {
                    margin: 0;
                    transform: scale(0.65);
                }
            }
            
            .dessertDetails {
                padding: 0;
                margin: 0;
            }
        }
    }
}